{% include 'header.html' %}

<div class="date">04/09-2020</div>
<h2>What is {{ host }}?</h2

<p>{{ host }} is small personal website containing obstacles encountered technnology related points of interests.</p>

<p>The site was built as a spare time project to play around with website development.</p>

<p>I am a technology consumer and critic with my main interests rooting in infosec and open source software. I work part time whilst I study - this is why the frequency of updates is limited.</p>

<p>If you have questions, comments or suggestions, feel free to contact me on admin@oneeyedtechs.com. I'll be happy to hear from you.</p>

{% include 'footer.html' %}
