{% include 'header.html' %}

<div class="date">04/09-2020</div>
<h2>What is {{ host }}?</h2

<p>{{ host }} is small personal website conataining technnology-related points of interests.</p>

<p>The site was built as a spare time project to play around with website development.</p>

<p>My main interests lie within security, privacy and open source software.</p>

<p>If you have questions, comments or suggestions, feel free to contact me though any of the following channels. I&#39;ll be happy to hear from you.</p>

<b>E-mail:</b> admin@oneeyedtechs.com</br>
<b>IRC:</b> ztychr@irc.libera.chat</br>
<b>Matrix:</b> ztychr@matrix.org</br>
<b><a class="insideurls" href="https://nordskov.net/pub.asc">Download GPG key</a></b>

{% include 'footer.html' %}
