{% include 'header.html' %}

<div class="date">04/09-2020</div>
<h2>What is One Eyed Techs?</h2

<p>One Eyed Techs is a hacker blog containing writeups, obstacles encountered and other technnology related points of interests.</p>

<p>The site was built as a spare time project to play around with website development.</p>

<p>I am a technology consumer with my main interests in infosec. I work part time in the field of it security whilst I study. This is why the frequency of updates is to be limited.</p>

<p>If you have questions, comments or suggestions, feel free to contact me on admin@oneeyedtechs.com. I'll be happy to hear from you.</p>

{% include 'footer.html' %}
