{% include 'header.html' %}

<div class="posts">
	<div onclick="location.href='post/rejsekortet-an-obsolete-smart-card'" class="post"><b>Rejsekort:</b> An obsolete smart card<br> <img class="thumbnail" src="static/images/thumbnails/travelcard.png"/></div>

  <div onclick="location.href='post/nfc-payment-roskilde-festival'" class="post"><b>NFC Payment:</b> Roskilde Festival<br> <img class="thumbnail" src="static/images/thumbnails/rfid-antenna.png"/></div>

  <!-- <div onclick="location.href='post/weechat-setup'" class="post"><b>Setup:</b> weechat & facebook <br> <img class="thumbnail" src="static/images/thumbnails/terminal.png"/></div> -->

  <div onclick="location.href='post/htb-curling'" class="post"><b>HackTheBox:</b> curling <br> <img class="thumbnail" src="static/images/thumbnails/curling-thumb.png"/></div>

  <div onclick="location.href='post/htb-jerry'" class="post"><b>HackTheBox:</b> jerry <br> <img class="thumbnail" src="static/images/thumbnails/jerry-thumb.png"/></div>

	<div onclick="location.href='post/htb-poison'" class="post"><b>HackTheBox:</b> poison <br> <img class="thumbnail" src="static/images/thumbnails/poison-thumb.png"/></div>

	<div onclick="location.href='post/case-competition'" class="post"><b>Case Competition:</b> pentest <br> <img class="thumbnail" src="static/images/thumbnails/pc.svg"/></div>
</div>

{% include 'footer.html' %}
