{% include 'header.html' %}

<div class="posts">
  <a class="post" href="post/certificate-length"><b>Certificate length: </b>Is 4096 bit preferable over 2048 bit?</br><img class="thumbnail" src="static/images/thumbnails/certificate.png"></a>
  <a class="post" href="post/rejsekortet-an-obsolete-smart-card"><b>Rejsekort: </b>An obsolete travel smart card (updated Q3 2022)<br><img class="thumbnail" src="static/images/thumbnails/travelcard.png"/></a>
  <a class="post" href="post/nfc-payment-roskilde-festival"><b>Wristband chip: </b>The (in)secure NFC payments at Roskilde Festival<br><img class="thumbnail" src="static/images/thumbnails/rfid-antenna.png"/></a>
  <a class="post" href="post/htb-curling"><b>HackTheBox writeup: </b><br> curling by L4mpje <br><img class="thumbnail" src="static/images/thumbnails/curling-thumb.png"/></a>
  <a class="post" href="post/htb-jerry"><b>HackTheBox writeup: </b><br>jerry by mrh4sh<br><img class="thumbnail" src="static/images/thumbnails/jerry-thumb.png"/></a>
  <a class="post" href="post/htb-poison"><b>HackTheBox writeup: </b><br>poison by charix<br><img class="thumbnail" src="static/images/thumbnails/poison-thumb.png"/></a>
  <a class="post" href="post/case-competition"><b>Case ompetition: </b><br>A fictional pentest scenario<br><img class="thumbnail" src="static/images/thumbnails/pc.svg"/></a>
</div>
{% include 'footer.html' %}
  
<!--js required
<div onclick="location.href='post/certificate-length'" class="post"><b>Certificate length:</b> Is 4096 bit preferable over 2048 bit?</br> <img class="thumbnail" src="static/images/thumbnails/certificate.png"/></div> 
<div onclick="location.href='post/rejsekortet-an-obsolete-smart-card'" class="post"><b>Rejsekort:</b> An obsolete travel smart card (updated Q3 2022)<br> <img class="thumbnail" src="static/images/thumbnails/travelcard.png"/></div>
<div onclick="location.href='post/nfc-payment-roskilde-festival'" class="post"><b>Wristband chip:</b> The (in)secure NFC payments at Roskilde Festival<br> <img class="thumbnail" src="static/images/thumbnails/rfid-antenna.png"/></div>
<div onclick="location.href='post/htb-curling'" class="post"><b>HackTheBox writeup:</b> <br> curling by L4mpje <br> <img class="thumbnail" src="static/images/thumbnails/curling-thumb.png"/></div>
<div onclick="location.href='post/htb-jerry'" class="post"><b>HackTheBox writeup:</b> <br> jerry by mrh4sh <br> <img class="thumbnail" src="static/images/thumbnails/jerry-thumb.png"/></div>
<div onclick="location.href='post/htb-poison'" class="post"><b>HackTheBox writeup:</b> <br> poison by charix <br> <img class="thumbnail" src="static/images/thumbnails/poison-thumb.png"/></div>
<div onclick="location.href='post/case-competition'" class="post"><b>Case ompetition:</b> <br> A fictional pentest scenario <br> <img class="thumbnail" src="static/images/thumbnails/pc.svg"/></div>
-->
